In [1]:
import mido 
from mido import MidiFile
import py_midicsv as pm

import numpy as np
import pandas as pd

In [2]:
msg = mido.Message('note_on', note=60)
msg.copy(channel=2)

Message('note_on', channel=2, note=60, velocity=64, time=0)

In [3]:
md = MidiFile('/home/ivan/Desktop/Notes/MIDI/35.1.mid')

In [4]:
md.tracks[0][:7]

MidiTrack([
  MetaMessage('track_name', name='Pianoteq 6.7', time=0),
  MetaMessage('instrument_name', name='Steinway D Prelude', time=0),
  MetaMessage('sequencer_specific', data=(153, 36, 118, 133, 1, 0, 0, 0, 0, 0, 192, 44, 22, 176, 216, 65), time=0),
  MetaMessage('time_signature', numerator=4, denominator=4, clocks_per_click=24, notated_32nd_notes_per_beat=8, time=0),
  MetaMessage('set_tempo', tempo=454545, time=0),
  Message('control_change', channel=0, control=64, value=127, time=0),
  Message('note_on', channel=0, note=43, velocity=80, time=4902)])

In [5]:
track = md.tracks[0]

In [6]:
track[-3]

Message('note_on', channel=0, note=67, velocity=0, time=169)

In [7]:
from midi_utils import get_midi_data

midi_data = get_midi_data(track)
midi_data.shape

(2342, 4)

In [8]:
midi_data[:15]

       on note velocity  time
0    True   43       80  4902
1    True   67       77    32
2   False   67        0   328
3    True   50       63   313
4    True   55       63   444
5    True   67       74   125
6   False   50        0     2
7   False   43        0   146
8   False   55        0    33
9   False   67        0    26
10   True   67       84   304
11   True   43       62    28
12   True   55       70     4
13  False   43        0   150
14  False   67        0    23

In [9]:
from midi_utils import transform_data


df = transform_data(midi_data)
df

     note velocity    time   dur
0      43       80    4902  1390
1      67       77    4934   328
2      50       63    5575   571
3      55       63    6019   306
4      67       74    6144   207
...   ...      ...     ...   ...
1166   70      101  289377   176
1167   67       92  289396    59
1168   43       64  289398    81
1169   50       80  289400   195
1170   67       92  289633   169

[1171 rows x 4 columns]

In [13]:
from midi_utils import get_transformed_data

md = MidiFile('/home/ivan/Desktop/Notes/MIDI/1.mid')
data = get_transformed_data(md)
data

    note velocity   time   dur
0     75       80      0   479
1     79       80    480   479
2     82       80    960   479
3     81       80   1440   479
108   46       80   1918   455
..   ...      ...    ...   ...
334   50       80  78658  1821
336   58       80  78658  1821
335   53       80  78658  1821
333   46       80  78658  1821
107   82       80  78720  1823

[337 rows x 4 columns]